.t-c
    {
        background-color: #000000;
       position: relative;
       padding-top:70px;
       width: 100%;
       height: 600px;
    
    }
body
    {
       margin: 0;
    }
.h1
    {
        color: orange;
        margin: 50px auto 0 auto;
        text-align: center ;
        font-family: 'Zen Dots', cursive;
        font-size: 5.625rem;
    }
.Iap
    {
        color: orange;
        margin: 0;
        text-align: center;
        font-family: 'Roboto Slab', serif;
        font-size: 2.5rem;

    }
.middle-container
    {
        background-color: #282A3A;
        height: 1500px
    }
.my-img
    {
        display: block;
        margin:auto;
        width: 200 px;
        height: 200px;
        padding-top: 50px;
    }
.about-me
    {
        text-align: center;
        margin-left:400px;
        margin-right: 400px;
        font-family: 'Roboto Slab', serif;
        color: orange;
        padding-bottom: 50px;
    }
.h-1
    {
        border-style:none;
        border-top-style: dotted;
        border-color: orange;
        border-width: 5px;
        width:5%;
    }
.Hello
    {   
        text-align: center;
        color: orange;
    }

.giphy
{
    width:35%;
    height:25%;
    border:0;
    float:left;
    margin-right:30px;
   
}
.CB
    {
        color: orange;
    }
.CP
{
    color: orange;
}
.skill-row
{
    width:50%;
    margin: 100px auto 10px auto;
    text-align: left;
    line-height:2;
}
.brody
    {
        height:14.75rem;
        width:14.75rem;
        float:right;
        margin-left:30px;
    }
.skill-rows 
    {
        width:50%;
        margin: 75px auto 100px auto;
        text-align: left;
        line-height:2;
    }
.pg
    {
        color: orange;
    }
.bd 
    {
        color: orange;
    }
.my-skill
    {
        display: block;
        color: orange;
        text-align: center ;
        font-family: 'Zen Dots', cursive;
        font-size: 35px;
        padding-top : 30px;
    }
.bottom-container
    {
        background-color:#C69749 ;
        text-align: center;
        padding-top : 30px;
    }
.footer-link
    {
        color: black;
        text-decoration-line: none;
        padding-left:30px;
        padding-right:30px;
    }
.top-cloud
    {
        position:absolute;
        right :200px;
        display: inline-block;
        height: 50px;
    }
.bottom-cloud
    {
        position:absolute;
        left: 200px;
    }
.mountain
    {
       margin: 0 auto;
       display: block;
      
    }
.contact-me
    {
        background-color: #735F32;
        height:250px;
    }
.h-2
    {
        border-style:none;
        border-top-style: dotted;
        border-color: orange;
        border-width: 5px;
        width:5%;
    }
.GIT
    {
        color: #000000;
        text-align: center;
        font-family: 'Roboto Slab', serif;
        font-size: 1.5rem;
    }
.rank
    {
        color: #000000;
        text-align: center;
        font-family: 'Roboto Slab', serif;
        font-size: 1rem;
    }
.cmc
    {
        text-align: center;
        margin-left:400px;
        margin-right: 400px;
        font-family: 'Roboto Slab', serif;
        color:  black;
        margin-bottom:30px;
    }
.btn {
        background: #29343b;
        background-image: -webkit-linear-gradient(top, #29343b, #2e2b27);
        background-image: -moz-linear-gradient(top, #29343b, #2e2b27);
        background-image: -ms-linear-gradient(top, #29343b, #2e2b27);
        background-image: -o-linear-gradient(top, #29343b, #2e2b27);
        background-image: linear-gradient(to bottom, #29343b, #2e2b27);
        -webkit-border-radius: 20;
        -moz-border-radius: 20;
        border-radius: 20px;
        font-family: 'Roboto Slab', serif;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin-left :470px;
        margin-top:30px;
      }
      
.btn:hover {
        background: #d9b636;
        background-image: -webkit-linear-gradient(top, #d9b636, #c3d934);
        background-image: -moz-linear-gradient(top, #d9b636, #c3d934);
        background-image: -ms-linear-gradient(top, #d9b636, #c3d934);
        background-image: -o-linear-gradient(top, #d9b636, #c3d934);
        background-image: linear-gradient(to bottom, #d9b636, #c3d934);
        text-decoration: none;
      }